* {
  box-sizing: border-box;
}

body {
  background-color: #288d26;
}

.car {
  position: absolute;
  width: 200px;
  transition: transform 0.4s;
  left: 0;
  top: 0;
}

.right {
  transform: rotate(0deg);
}

.up {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(180deg);
}

.down {
  transform: rotate(90deg);
}
